* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    45deg,
    #481b5b 0%,
    #23204b 50%,
    #152347 100%
  );

  font-family: "Space Mono", monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 300px;
}

.card {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1150px) {
  .card {
    flex-direction: row;
  }
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 40px 20px;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 500px) {
  .card__item {
    flex-direction: row;
  }
}

.figure {
  margin: 0;
}

@media (min-width: 500px) {
  .figure {
    margin-right: 20px;
  }
}

.figure__img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.figure__caption {
  color: #fff92e;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.card__info {
  width: 250px;
  color: #fffdfd;
  font: 600 normal 16px;
  text-align: center;
}

@media (min-width: 500px) {
  .card__info {
    text-align: left;
  }
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left-icons {
  display: flex;
  justify-content: flex-start;
  margin: 17px;
}
.right-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icone {
  width: 20%;
  height: 20%;
  margin: 0px 15px;
}
.icon {
  width: 50%;
  height: 50%;
  margin: 0px 15px;
}
